<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Sentiment Watch</title>
        <link rel="icon" type="image/x-icon" href="/static/ui/fav2.png" />

        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"
        ></script>

        <!-- Bootstrap Icons -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
        />

        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- DATATABLES -->
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"
        />
        <script
            type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
        ></script>

        <!-- DATATABLE BUTTONS -->
        <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
        <link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" rel="stylesheet"/>

        <!-- ANYCHART -->
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
  

        <!-- LOADING STATIC JS  -->
        <!-- <script src="/static/ui/dashboard.js"></script> -->
        <style>
            body {
                background-color: #f5f5f5;
                padding-top: 10px;
                padding-bottom: 40px;
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img
                        src="/static/ui/logo2.png"
                        alt="Logo"
                        width="30"
                        height="24"
                        class="d-inline-block align-text-top"
                    />
                    Sentiment Watch
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/"
                        >
                            Upload Another File
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <h2 class="m-3">Sentiment Analysis</h2>

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Rows</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{context.total_rows | safe}}
                            </h6>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Categorized Rows</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{context.categorized_rows | safe}}
                            </h6>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Uncotegorized Rows</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{context.uncategorized_rows | safe}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-0">
                        <div class="card-body">
                            <h5 class="card-title">Positive Rows</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{context.positive_rows | safe}}
                            </h6>
                        </div>
                    </div>
                    <br />
                    <div class="card m-0">
                        <div class="card-body">
                            <h5 class="card-title">Negative Rows</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{context.negative_rows | safe}}
                            </h6>
                        </div>
                    </div>
                    <br />
                    <div class="card m-0">
                        <div class="card-body">
                            <h5 class="card-title">Neutral Rows</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{context.neutral_rows | safe}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-0">
                        <div class="card-body">
                            <h5 class="card-title">Positive Percentage</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{context.positive_percent | safe}} %
                            </h6>
                        </div>
                    </div>
                    <br />
                    <div class="card m-0">
                        <div class="card-body">
                            <h5 class="card-title">Negative Percentages</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{context.negative_percent | safe}} %
                            </h6>
                        </div>
                    </div>
                    <br />
                    <div class="card m-0">
                        <div class="card-body">
                            <h5 class="card-title">Neutral Percentage</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{context.neutral_percent | safe}} %
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        
        <div class="accordion m-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                    >
                        Positive Word Cloud
                    </button>
                </h2>
                <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body" >
                        <div id="container1" style="height: 400px"></div>
                        
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                    >
                        Negative Word Cloud
                    </button>
                </h2>
                <div
                    id="collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body">
                            <div id="container2" style="height: 400px"></div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                    >
                        Neutral Word Cloud
                    </button>
                </h2>
                <div
                    id="collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body">
                        <div id="container3" style="height: 400px"></div>
                    </div>
                </div>
            </div>
        </div>
            


        <br />

        <div class="card m-3">
            <div class="card-body">
                <!-- <h5 class="card-title">File successfully uploaded. Please find the uploaded data below.</h5> -->

                <!-- <div 
                    class="alert alert-success" 
                    role="alert"
                >
                    File successfully uploaded. Please find the uploaded data below.
                </div> -->

                <!-- <br>  -->

                <table id="example" class="display" width="100%"></table>
            </div>
        </div>

        <script>
            var data_pos = {{ context.data_pos | safe}}
            var data_neg = {{ context.data_neg| safe}}
            var data_neu = {{ context.data_neu | safe}}

            var dataSet = {{data | safe}};
            var columns = []
            for (var i = 0; i<dataSet["columns"].length; i++){
                tempDict = {
                    "title": dataSet["columns"][i]
                }
                columns.push(tempDict)
            }

            $(document).ready(function () {
                $('#example').DataTable({
                    data: dataSet["data"],
                    dom: 'Bfrtip',
                    columns: columns,
                    order: [[1, 'desc']],
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ],
                    initComplete: function () {
                        let api = this.api();
                        api.columns(":not(:first)").every(function () {
                            console.log(this.index(), '\n', this.data())
                            let col = this.index();
                            let data = this.data()
                                .unique()
                                .map(function (value) {
                                    return parseFloat(value);
                                })
                                .toArray()
                                .sort(function (a, b) {
                                    return b - a;
                                });
                            let length = data.length;
                            api.cells(null, col).every(function () {
                                let cell = parseFloat(this.data());
                                if (cell === data[0]) {
                                    $(this.node()).css("background-color", "rgb(172, 240, 172)");
                                } else if (cell === data[length - 1]) {
                                    $(this.node()).css("background-color", "rgba(255, 85, 85, 0.32)");
                                }
                            });
                        });
                    }

                });
            });

            wordCloud(data_pos, "container1", 'green')
            wordCloud(data_neg, "container2", 'red')
            wordCloud(data_neu, "container3", 'orange')

            function wordCloud(data, divId, color) {
                anychart.onDocumentReady(function() {
                    // code to create a word cloud chart will be here
                
                    // create a tag (word) cloud chart
                    var chart = anychart.tagCloud(data);

                    // set a chart title
                    // chart.title('15 most spoken languages')
                    // set an array of angles at which the words will be laid out
                    chart.angles([0])
                    
                    chart.fill(color);
                    // display the word cloud chart
                    chart.container(divId);
                    chart.draw();
                });
  
            }
        </script>
    </body>
</html>
